solr/authority_browse/data
data
.bundle
.env
.cache
.local/
.rspec_status
.bash_history
coverage/
.byebug_history
.byebug_save
.irb_history
authority_browse.zip
reports/
*.db

scratch/*
!scratch/.keep
